<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app" class="container">
        <div class="inner-container">
            <header class="header">
                <h2 class="subtitle"></h2>
                <h1 class="title"></h1>
                <h3 class="date"></h3>
            </header>
            <main class="main">
                <div class="add-todo">
                    <div class="input">
                        <input @keyup.enter = "newTodo" v-model="todoNew" type="text" placeholder="Add Todo">
                        <i class="fa-solid fa-circle-plus"></i>
                    </div>
                    {{todoNew}}
                </div>
                <div class="todos">
                    <ul>
                        <li class="todo"  v-for="(todo, index) in todos">
                            <div class="todo-text">
                                <h3 :class="(todo.status == false) ? '' : 'done' ">{{todo.text}}</h3>
                            </div>
                            <input @change="checkControl(index)" id="check" type="checkbox">
                            <i @click="removeTodo(index)" class="fa-solid fa-trash"></i>
                        </li>
                    </ul>
                </div>
            </main>
        </div>
    </div>

    <script src="js/script.js"></script>
</body>
</html>